@use './_mixins.scss' as *;

@font-face {
    font-family: 'Avenir-Bold';
    src: url("../../assets/Font/Alternative files/AvenirNextLTProBold.woff2") format("woff2"),
        url("../../assets/Font/Alternative files/AvenirNextLTProBold.woff") format("woff"),
        url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("ttf"),;
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/Font/Alternative files/AvenirNextLTPro.woff2") format("woff2"),
        url("../../assets/Font/Alternative files/AvenirNextLTPro.woff") format("woff"),
        url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("ttf"),;
    font-weight: 400;
    font-style: normal;
}


h1{
    font-family: 'Avenir-Bold';
    font-size: 1.5rem;
    line-height: 2rem; 
    

    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
    }
}

h2{
    font-family: 'Avenir-Bold';
    font-size: 2.0rem;
    line-height: 2rem;
    font-weight: 700;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

h3{
    font-family: 'Avenir-Bold';
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
   
}

h4 {
    font-family: 'Avenir-Bold';
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    @include desktop {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

a {
    font-family: 'Avenir';
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 1rem;
        line-height: 2rem;
    }
    
    
}

p {
    font-family: 'Avenir';
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    @include tablet {
        font-size: .875rem;
        line-height: 1.5rem;
    }
}
