

@font-face {
    font-family: 'Avenir-Bold';
    src: url("../../assets/Font/Alternative files/AvenirNextLTProBold.woff2") format("woff2"),
        url("../../assets/Font/Alternative files/AvenirNextLTProBold.woff") format("woff"),
        url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("ttf"),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/Font/Alternative files/AvenirNextLTPro.woff2") format("woff2"),
        url("../../assets/Font/Alternative files/AvenirNextLTPro.woff") format("woff"),
        url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("ttf"),;
    font-weight: normal;
    font-style: normal;
}