@use '../../../../styles/partials/_mixins.scss' as *;
@use '../../../../styles/partials/_variables.scss' as *;


.comment-list {
  display: flex;
  padding: 0 1rem;
  position: relative;
  border-bottom: 0.063rem solid $color-quinary;
  @include tablet {
    padding: 0;
  }
 

  &__thumbnail {
    height: 3rem;
    width: 3rem;
    background-color: $color-quinary;
    border-radius: 50%;
    margin: 0.5rem 0 1rem 0;
    position: absolute;
    // top: 0.5rem;
    @include tablet {
        margin-right: 1rem;
        padding: 0;
      }
   
  }

  &__post {
   
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    
  }

  &__commentbox {
    display: flex;
   justify-content: space-between;
   padding-right: 1rem;
  }

  &__name {
    margin: 0;
    padding-top: 1rem;
    color: $color-sept;
    font-weight: bold;
   
  }
  &__date {
    margin: 0;
    padding-top: 1rem;
    color: $color-oct;
  }
  &__comment {
    padding-right: 1rem;
    @include tablet {
      margin-top: 0.5rem;
      padding-bottom: 1rem;
    }
  }
}
