@use '../../../styles/partials/_variables.scss' as *;
@use '../../../styles/partials/_mixins.scss' as *;

.hero {
    @include tablet {
        height: 25rem;
    } 
      @include desktop {
        height: 27rem;
    }  
    &__video {
        width: 100%;
        height: 22rem;
        object-fit: cover;
        @include tablet {
          height: 25rem;
          width: 43.75rem;
        }
        @include desktop {
          height: 27rem;
          width: 48.1rem;
        }
    }

    &__background {
        width: 100%;
        background-color: black;
        height: 22rem;
        position: relative;
        display: flex;
        justify-content: center;
        @include tablet {
          height: 25rem;
        }  
        @include desktop {
          height: 27rem;
        }  
      }
    &__controls {
        width: 90%;
        height: 12rem;
        position: absolute;
        top: 10rem;
        display: flex;
        align-items: flex-end;
        @include tablet {
            top: 0;
            height: 25rem;
            width: 43rem;
        }  
        @include desktop {
            height: 27rem;
            width: 48rem;
        }  
      }
    &__play {
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.5);
        height: 2rem;
        width: 3.125rem;
        padding: 0.45rem 0.35rem 0.45rem 0.55rem;
        margin: 0 0.5rem 0.5rem 1rem;
        @include tablet {
          margin: 0 1rem 1rem 0.5rem;
        }
        @include desktop {
          margin-left: 1rem;
        }
      }
      &__video-process {
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.5);
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.125rem 0.125rem;
        margin-bottom: 0.5rem;
        flex-grow: 2;
        @include tablet {
          width: 32rem;
          margin: 0 0 1rem 0;
        }
        @include desktop {
          width: 38rem;
        }
      }
      &__progress-bar {
        width: 79%;
        height: 0;
        margin: 0 auto;
        border: 0.125rem solid black;
        border-radius: 0.313rem;
        @include tablet {
          margin: auto 1rem;
        }
        @include desktop {
          width: 80%;
        }
      }
      &__progress-time {
        color: #FFFFFF;
        font-size: 0.7rem;
          margin-right: 1rem;
      }
      &__settings {
        display: flex;
        justify-content: space-between;
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.5);
        height: 2rem;
        width: 5rem;
        padding: 0.35rem 0.85rem;
        margin: 0 1rem 0.5rem 0.5rem;
        @include tablet {
          margin: 0 0.5rem 1rem 1rem;
        }
        @include desktop {
          margin-right: 1rem;
        }
      }
}
