@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_variables.scss" as *;


.videoupload {
    /* Video Upload Block */
    display: flex;
    flex-direction: column;
    width: 100%;
    @include padding-lr(5%, 5%);
    @include tablet {
        @include padding-lr(3.125%, 3.125%);
    }
    @include desktop {
        @include padding-lr(12.5%, 12.5%);
    }
    &__title {
        /* Video Upload Block - Title Element */
        @include mobile-h1;
        @include padding-tb(3vh, 2vh);
        @include mob-tab-int {
            @include padding-tb(4vh, 3vh);
        }
        @include tablet {
            @include tablap-h1;
            @include padding-tb(5vh, 3.5vh);
            }
        @include desktop {
            @include padding-tb(4.5vh, 2.5vh);
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet {
            border-top: 2px solid $color-divider;
        }
        @include desktop {
            flex-direction: row;
        }
        &-left {
            display: flex;
            align-content: center;
            flex-direction: column;
            width: 90vw;
            @include tablet {
                width: 93.5vw;
            }
            @include desktop {
                width: 26vw;
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            width: 90vw;
            @include tablet {
                width: 93.5vw;
            }
            @include desktop {
                width: 50vw;
            }
        }
    }
    &__thumbnail {
        position: relative;
        @include flex-center;
        height: 48vw;
        width: 100%;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 4vh;
        @include tablet {
            height: 25vw;
            width: 50%;
        }
        @include desktop {
            height: 12.5vw;
            width: 93%;
            margin-bottom: 0;
        }
        &-title {
            @include mobile-h5-label($color-text-label-style);
            font-weight: 500;
            width: 100%;        
            @include padding-tb(1vh, 1vh);
            @include tablet {
                @include padding-tb(4.5vh, 0);
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        &-label {
            @include mobile-h5-label($color-text-label-style);
            @include tablet {
                padding-left: 4%;
            }
            &--title {
                @extend .videoupload__form-label;
                    width: 90%;
                @include tablet {
                    padding-left: 0;
                }
                @include desktop {
                    padding-top: 4.5vh;
                }
            }
            &--description {
                @extend .videoupload__form-label--title;
                @include tablet {
                    padding-left: 0;
                }
                @include desktop {
                    padding-top: 0;
                }
                @include desktop-14 {
                    padding-top: .5vh;
                }
            }
        }
        &-input {
            font-family: $font-family;
            height: 45px;
            width: 90vw;
            border: 1px solid $color-text-label-style;
            border-radius: 4px;
            padding-left: 18px;
            margin-bottom: 3vh;
            outline: none;
            background-color: $color-text-field-bg-fill;
            &:focus {
                border: 2px solid $color-form-input-focus;
            }
            @include tablet {
                width: 93.5vw;
            }
            @include desktop {
                width: 100%;
                margin-bottom: 1vh;
            }
        }
        &-textarea {
            font-family: $font-family;
            height: 143px;
            width: 90vw;
            border: 1px solid $color-text-label-style;
            border-radius: 4px;
            margin-bottom: 2vh;
            padding-left: 18px;
            padding-top: 2.25vh;
            outline: none;
            background-color: $color-text-field-bg-fill;
            &:focus {
                border: 2px solid $color-form-input-focus;
            }
            @include tablet {
                width: 93.5vw;
                margin-bottom: 4vh;
            }
            @include desktop {
                height: 6.1vw;
                width: 100%;
                margin-bottom: 3vh;
                padding-top: 1.5vh;
            }
            @include desktop-14 {
                height: 6.75vw;
                margin-bottom: 3vh;
                padding-top: 1.5vh;
            }
        }
    }
    &__button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include mob-tab-int {
            flex-direction: row-reverse;
            border-top: 2px solid $color-divider;
            padding-top: 4vh;
        }
        @include desktop {
            padding-top: 3vh;
        }
    }
    &__publish-btn {
        color: $color-text-offset;
        background-color: $color-primary-cta;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 4px;
        &:hover {
            background-color: $color-primary-cta-hover;
        }
        @include mob-tab-int {
            height: 48px;
            width: 160px;
        }
    }
    &__cancel-btn {
        color: $color-primary-cta;
        background-color: $color-background;
        height: 40px;
        width: 100%;
        border: none;
        @include mob-tab-int {
            height: 48px;
            width: 130px;
        }
    }
}