@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_global.scss";
@use "../../styles/partials/_typography.scss";

.upload {
  display: flex;
  flex-direction: column;

  @include tablet {
    border-top: 1px solid $color-quinary;
  }

  &__header {
    padding: 0 1rem;
    @include tablet {
      margin: 1rem 0 0;
      padding: 1rem 2rem;
    }
    @include desktop {
      padding: 0 0 2rem 0;
      margin: 1rem 9rem;
      border-bottom: 1px solid $color-quinary;
    }
  }

  &__border {
    border-top: 1px solid $color-quinary;
    @include tablet {
      border: 0;
      margin: 0;
      padding: 1rem 2rem;
    }

    @include desktop {
      display: flex;
      margin: 0 9rem;
      padding: 1rem 0;
      border-bottom: 1px solid $color-quinary;
    }
  }

  &__hero {
    @include tablet {
      border-top: 1px solid $color-quinary;
    }
    @include desktop {
      border: none;
      padding-right: 1rem;
    }
  }
  &__title {
    padding: 0 1rem;
    color: $color-oct;

    @include tablet {
      margin: 0;
      padding: 1rem 1rem 0.5rem 1rem;
    }
    @include desktop {
      margin: 0;
      padding: 0;
    }
  }

  &__video {
    padding: 0 1rem;

    width: 100vw;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      width: 57vw;
    }
    @include desktop {
      width: 23vw;
      padding: 0;
    }
  }
}
.upload-input {
  @include desktop {
    width: 70%;
  }

  &__title {
    padding-bottom: 0.5rem;

    color: $color-oct;
    margin: 1.5rem 0 0 0;

    @include desktop {
      margin: 0;
      padding: 0;
    }
  }

  &__border {
    margin: 0 1rem;

    @include tablet {
      padding-bottom: 1rem;
      border-bottom: 1px solid $color-quinary;
    }
    @include desktop {
      margin: 0;
      padding: 0 0 0 1rem;
      border: 0;
    }
  }

  &__input1 {
    width: 100%;
    border: 1px solid $color-quinary;
    border-radius: 4px;
    height: 40px;
    padding: 0.75rem 1rem;
    background-color: $color-senary;

    &::placeholder {
      color: $color-sept;
      font-family: "Avenir";
    }
    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__input2 {
    width: 100%;
    border: 1px solid $color-quinary;
    border-radius: 4px;
    height: 143px;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    background-color: $color-senary;
    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      height: 6.5625rem;
    }

    &::placeholder {
      color: $color-sept;
      font-family: "Avenir";
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    @include tablet {
      flex-direction: row-reverse;
    }
    @include desktop {
      display: flex;
      margin: 1rem 8rem;
    }

    &__publish-button {
      background-color: $color-primary;
      background-image: url(../../assets/Icons/publish.svg);
      background-repeat: no-repeat;
      background-position: left 0.5rem bottom 50%;
      height: 3rem;
      margin: 1rem 0;
      color: $color-secondary;
      border: none;
      border-radius: 0.25rem;
      font-weight: bold;
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      @include tablet {
        flex-grow: 0;
        width: 12rem;
      }
    }

    &__cancel-button2 {
      background-color: $color-secondary;
      height: 3rem;
      margin: 1rem 0;

      color: $color-primary;
      border: none;
      border-radius: 0.25rem;
      font-weight: bold;
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        flex-grow: 0;
        padding-right: 3rem;
        width: 12rem;
      }
    }
  }
}
