@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_variables.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  @include tablet {
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 9rem;
  }

  &__logoimg {
    height: 3rem;
    display: flex;
    align-items: center;
    @include tablet {
      margin-right: auto;
    }
  }

  &__logo {
    height: 1.7rem;
    display: flex;
    justify-content: center;
    @include tablet {
      width: 7.5rem;
    }
  }


  &__search {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-end;
    }
  }

  &__searchbar {
    display: flex;
    flex-grow: 2;
    height: 3rem;
    border: 0.063rem solid $color-quinary;
    border-radius: 0.25rem;
    background-color: #fafafa;
    padding-left: 0.75rem;
    color: $color-quaternary;
    margin-right: 1rem;
    &:focus {
      border: 0.125rem solid $color-primary;
      box-sizing: border-box;
      padding-left: 0.687rem;
    }
    &::placeholder {
      background-image: url("../../assets/Icons/search.svg");
      background-repeat: no-repeat;
      color: $color-sept;
      font-size: 1rem;
      padding-left: 2rem;
    }
    @include tablet {
      flex-grow: 0;
      width: 15.5rem;
    }
    @include desktop {
      width: 13.75rem;
    }
  }

  &__avatar1 {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    object-position: left;
    @include tablet {
      display: none;
    }
  }
  &__account {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include tablet {
      justify-content: flex-end;
      width: auto;
    }
  }
  
  &__avatar2 {
    display: none;
    @include tablet {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      display: flex;
      object-fit: cover;
      object-position: left;

      margin: auto 0;
    }
  }

  &__link {
    text-decoration: none;

  }

  &__button {
    background-color: $color-primary;
    background-image: url(../../assets/Icons/upload.svg);
    background-repeat: no-repeat;
    background-position: left 0.5rem bottom 50%;
    height: 3rem;
    margin: 1rem 0;
    color: $color-secondary;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 12rem;
      margin: auto 1.5rem auto 0;
      flex-grow: 0;
    }
    
      &:hover {
        background-color: $color-tertiary;
        cursor: pointer;
      }
  
  }
}

