.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .header {
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 80rem) {
  .header {
    padding: 1rem 9rem;
  }
}
.header__logoimg {
  height: 3rem;
  display: flex;
  align-items: center;
}
@media (min-width: 48rem) {
  .header__logoimg {
    margin-right: auto;
  }
}
.header__logo {
  height: 1.7rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 48rem) {
  .header__logo {
    width: 7.5rem;
  }
}
.header__search {
  display: flex;
  width: 100%;
}
@media (min-width: 48rem) {
  .header__search {
    justify-content: flex-end;
  }
}
.header__searchbar {
  height: 3rem;
  width: 85vw;
  border: 0.063rem solid #E1E1E1;
  border-radius: 0.25rem;
  background-color: #fafafa;
  padding-left: 0.75rem;
  color: #323232;
  margin-right: 1rem;
}
.header__searchbar:focus {
  border: 0.125rem solid #0095FF;
  box-sizing: border-box;
  padding-left: 0.687rem;
}
.header__searchbar::-moz-placeholder {
  background-image: url("../../assets/Icons/search.svg");
  background-repeat: no-repeat;
  color: #323232;
  font-size: 1rem;
}
.header__searchbar:-ms-input-placeholder {
  background-image: url("../../assets/Icons/search.svg");
  background-repeat: no-repeat;
  color: #323232;
  font-size: 1rem;
}
.header__searchbar::placeholder {
  background-image: url("../../assets/Icons/search.svg");
  background-repeat: no-repeat;
  color: #323232;
  font-size: 1rem;
}
@media (min-width: 48rem) {
  .header__searchbar {
    width: 15.5rem;
  }
}
@media (min-width: 80rem) {
  .header__searchbar {
    width: 13.75rem;
  }
}
.header__avatar1 {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (min-width: 48rem) {
  .header__avatar1 {
    display: none;
  }
}
.header__account {
  display: flex;
  flex-direction: row;
}
.header__avatar2 {
  display: none;
}
@media (min-width: 48rem) {
  .header__avatar2 {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
    margin: auto 0;
  }
}
.header__button {
  background-color: #0095FF;
  background-image: url(../../assets/Icons/upload.svg);
  background-repeat: no-repeat;
  background-position: left 0.5rem bottom 50%;
  width: 93vw;
  height: 3rem;
  margin: 1rem;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48rem) {
  .header__button {
    width: 10rem;
    margin: auto 1.5rem;
  }
}
@media (min-width: 80rem) {
  .header__button:hover {
    background-color: #0065AD;
    cursor: pointer;
  }
}

input::-moz-placeholder {
  padding-left: 2rem;
  color: #323232;
}

input:-ms-input-placeholder {
  padding-left: 2rem;
  color: #323232;
}

input::placeholder {
  padding-left: 2rem;
  color: #323232;
}/*# sourceMappingURL=Header.css.map */