@use '../../../styles/partials/_mixins.scss' as *;
@use '../../../styles/partials/_variables.scss' as *;

.video-recommendation {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;

    &__header{
        margin-bottom:1rem;
        color: $color-oct;
        font-weight: bold;
    }
    &__container{
        display: flex;
        flex-direction: column;
        flex-grow: 4;
    }

    &__button{
        display: flex;
        justify-content: flex-start;
        border: none;
        background-color: white;
        padding: 0;
        text-decoration: none;
    }

    &__arrange{
        display: flex;
        padding-bottom: 1rem;
        // flex-grow: 2;
    }

    &__pic{
        border-radius: 0.25rem;
        min-width: 7.5rem;
        height: 4.374rem;
        object-fit: cover;
        background-color: grey;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 70px;
        padding-left: 1rem;
        margin: 0;
        flex-grow: 2;
        
    }

    &__title {
        margin: 0;
        color: $color-sept;
        font-weight: bold;
        text-align: left;


        @include tablet {
            margin: 0;
        }
    }

    &__channel {
        margin: 0;
        color: $color-sept;
        @include tablet {
            margin: 0;
        }
        &:visited, &:hover, &:active {
            color: $color-sept;
          }
    
    }


}
