@font-face {
  font-family: "Avenir-Bold";
  src: url("../../assets/Font/Alternative files/AvenirNextLTProBold.woff2") format("woff2"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.woff") format("woff"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/Alternative files/AvenirNextLTPro.woff2") format("woff2"), url("../../assets/Font/Alternative files/AvenirNextLTPro.woff") format("woff"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.videoinfo {
  padding: 1.5rem 1rem 0 1rem;
}
@media (min-width: 48rem) {
  .videoinfo {
    padding: 2.5rem 1.5rem 0 1.5rem;
    width: 45rem;
    margin: 0 auto;
  }
}
@media (min-width: 80rem) {
  .videoinfo {
    margin: 0;
    padding: 1.75rem 0 1rem 0;
    width: 35.25rem;
  }
}
.videoinfo__title {
  margin: 0;
  border-bottom: 0.0625rem solid #e1e1e1;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .videoinfo__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .videoinfo__title {
    font-size: 1.6rem;
  }
}
.videoinfo__brief {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #e1e1e1;
  padding-bottom: 0.5rem;
}
.videoinfo__detail {
  display: flex;
  flex-direction: column;
}
.videoinfo__views, .videoinfo__likes {
  display: flex;
  padding-right: 5rem;
}
.videoinfo__viewimg, .videoinfo__likeimg {
  padding-right: 0.5rem;
}

.review {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 0.0625rem solid #e1e1e1;
}
.review__form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .review__form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.review__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .review__content {
    justify-content: flex-start;
  }
}
@media (min-width: 48rem) {
  .review__styling {
    display: flex;
  }
}
.review__input-label {
  font-size: 0.75rem;
  color: #afafaf;
  margin-left: 4rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .review__input-label {
    font-size: 0.8rem;
  }
}
@media (min-width: 80rem) {
  .review__input-label {
    width: 29.5rem;
    margin-right: 1.6rem;
  }
}
.review__text-container {
  flex-grow: 2;
  margin-left: 4rem;
  width: 80vw;
  height: 6rem;
  font-family: "Avenir-Regular";
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 0.063rem solid #e1e1e1;
  border-radius: 0.25rem;
  background-color: #fafafa;
  padding: 0.75rem 1rem;
  color: #323232;
  outline: none;
  box-sizing: border-box;
  resize: none;
}
.review__text-container:focus {
  border: 0.125rem solid #0095ff;
  box-sizing: border-box;
  padding: 0.687rem 0.937rem;
}
.review__text-container::-moz-placeholder {
  font-size: 0.85rem;
}
.review__text-container:-ms-input-placeholder {
  font-size: 0.85rem;
}
.review__text-container::placeholder {
  font-size: 0.85rem;
}
@media (min-width: 48rem) {
  .review__text-container {
    height: 3rem;
    width: 27.5rem;
  }
}
@media (min-width: 80rem) {
  .review__text-container {
    width: 20.5rem;
  }
}
.review__thumbnail {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  margin: 0.5rem 0 1rem 0;
  position: absolute;
  left: 0;
  top: 4.5rem;
}
@media (min-width: 48rem) {
  .review__thumbnail {
    margin-right: 1rem;
  }
}
.review__button {
  margin: 1rem 0 1.5rem 4rem;
  width: 80vw;
  height: 3rem;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #0095ff;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: "Avenir-Demi";
}
@media (min-width: 48rem) {
  .review__button {
    width: 10rem;
    margin: 0 2.5rem 1.5rem 1rem;
    font-size: 0.95rem;
  }
}
@media (min-width: 80rem) {
  .review__button {
    margin-right: 1.6rem;
    width: 8rem;
    font-size: 0.8rem;
  }
  .review__button:hover {
    background-color: #1572b8;
    cursor: pointer;
  }
}/*# sourceMappingURL=MainBody.css.map */