
.review{

    &__thumbnail{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }
}



.postedcomments {
    &__thumbnail{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }
}