@use "../../../styles/partials/_variables.scss" as *;
@use "../../../styles/partials/_mixins.scss" as *;
@use "../../../styles/partials/_typography.scss";

.videoinfo {
  padding: 1.5rem 1rem 0 1rem;
  @include tablet {
    padding: 2.25rem 2rem 1rem 2rem;
    margin: 0;
  }
  @include desktop {
    margin: 0;
    padding: 2rem 0 0 9rem;
  }

  &__title {
    margin: 0;
    border-bottom: 0.0625rem solid $color-quinary;
    padding-bottom: 1rem;

    @include tablet {
      font-size: 2.25rem;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__brief {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid $color-quinary;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  &__channel {
    padding-right: 1rem;
    font-weight: bold;
  }

  &__social {
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__views,
  &__likes {
    display: flex;
    padding-right: 5rem;

    @include tablet {
      padding-right: 1rem;
    }
  }
  &__date,
  &__viewnum,
  &__likenum {
    color: $color-oct;
  }

  &__viewimg,
  &__likeimg {
    padding-right: 0.5rem;
  }
}

.review {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 0.0625rem solid $color-quinary;

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__styling {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__input-label {
    font-size: 0.75rem;
    color: $color-oct;
    margin-left: 4rem;
    padding-bottom: 0.5rem;

    @include desktop {
      width: 29.5rem;
      margin-right: 1.6rem;
    }
  }

  &__text-container {
    margin-left: 4rem;
    height: 6rem;
    border: 0.063rem solid $color-quinary;
    border-radius: 0.25rem;
    background-color: $color-senary;
    padding: 0.75rem 1rem;
    color: $color-quaternary;
    &:focus {
      border: 0.125rem solid $color-primary;
      padding: 0.687rem 0.937rem;
    }
    &::placeholder {
      color: $color-sept;
      font-family: "Avenir";
      color: $color-sept;
    }

    @include tablet {
      height: 3rem;
      flex-grow: 2;
    }
    
  }

  &__thumbnail {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    object-position: left;
    margin: 0.5rem 0 1rem 0;
    position: absolute;
    left: 0;
    top: 4.5rem;
    @include tablet {
      margin-right: 1rem;
    }
  }

  &__button {
    margin: 1rem 0 1.5rem 4rem;
    height: 3rem; 
    color: $color-secondary;
    border: none;
    background-color: $color-primary;
    border-radius: 0.25rem;
    background-image: url(../../../assets/Icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: left 0.5rem bottom 50%;
    @include tablet {
      width: 20%;
      margin: 0 0 1.5rem 2rem;
      font-size: 0.95rem;
    }
    @include desktop {
      margin-right: 1.6rem;
      font-size: 0.8rem;
      
      &:hover {
        background-color: $color-tertiary;
        cursor: pointer;
      }
    }
  }
}
