@use "../../styles/partials/_mixins.scss" as *;

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__section {
    @include desktop {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__posted {
    padding: 0 1rem;
    @include tablet {
      padding: 0 2rem;
    }
    @include desktop {
      margin: 0 0 0 2rem;
      padding: 0 0 0 9rem;
    }
  }
}

.recommendations {
  display: flex;
  padding: 0 1rem;
  
  @include tablet {
    padding: 0 2rem;
    width: 44vw;
  }

  @include desktop {
    border-left: 0.063rem solid #e1e1e1;
    padding: 0 8rem 1rem 2rem;
    width: 85vw;
  }
}
